{% spaceless %}{% load thumbnail %}
<div class="image {{ imageuse.css_classes }}">
  {% if imageuse.link_to_original %}
    <a href="{{ imageuse.get_image.url }}">
  {% endif %}
  {# TODO: base thumbnail size on COLUMN_WIDTH variable and position choice #}
  <img src="{% thumbnail imageuse.get_image 300x300 %}" alt="{{ imageuse.image.alt_text }}" />
  {% if imageuse.link_to_original %}
    </a>
  {% endif %}
  {% if imageuse.caption %}<br /><span class="caption">{{ imageuse.caption }}{% if imageuse.image.attribution %} <span class="attribution">({{ imageuse.image.attribution }})</span>{% endif %}</span>{% endif %}
</div>
{% endspaceless %}
