.more-less {
    border-bottom: 1px solid #EEE;
    font-size: 11px;
    overflow: hidden;
    padding: 8px 12px;
}

.more-less a {
    padding-left: 16px;
    color: #5b80b2;
    text-decoration: none;
    cursor: pointer;
}

.more-less a:hover {
    color: #036;
}

.more-less-more a {
    background: url(img/disclosure-right.png) no-repeat left center;
}

.more-less-less a {
    background: url(img/disclosure-down.png) no-repeat left center;
}
