<script type="text/javascript" src="{{ MEDIA_URL }}assets/js/external/json2.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}assets/js/external/jstree/jquery.tree.js"></script>

{% load wysiwyg %}
{% wysiwyg_setup "markitup-supertextile" %}
{% wysiwyg_instantiate "markitup-supertextile" "id_teaser" %}

<link href="{{ MEDIA_URL }}js/tokenitup/jquery.tokenitup.css" rel="stylesheet" type="text/css" />
<script src="{{ MEDIA_URL }}js/tokenitup/jquery.tokenitup.js"></script>
<link href="{{ MEDIA_URL }}css/admin.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
        // Author
        $(document).ready(function() {
                $("#add_id_author").hide();
            $("#add_id_author").after("<p class='help'>If the author you want is not in the list above, save this item and then <a href='{% url admin:user_profiles_userprofile_add %}'>create a new user profile</a>.</p>");
        });

        // Related items
        $(document).ready(function() {
            $("#id_related_items").superRawIDWidget({
                tokenItUpOptions: {
                    emptyMessage: "(No items selected yet)",
                    helpText: "Start typing an item's title and then select from the dropdown list.",
                    teaseInputText: "search",
                    removeTooltipText: "Remove this item",
                    removeAllLabel: "Remove all items"
                },
                searchURL: "/api/publishing/related_items/search/",
                byIDsURL: "/api/publishing/related_items/by_ids/",
                extraParams: { {% if object.id %} exclude: {{ object.id }} {% endif %} },
                processOneResultItem: function(term, resultItem) {
                    return {
                        label: $.highlight_term(term, resultItem.title) + " (" + resultItem.content_type + ")",
                        value: resultItem.title + " (" + resultItem.content_type + ")",
                        actual_value: resultItem.id
                    };
                }
            });
        });

        // Tags
        $(document).ready(function() {
            $.getJSON('{% url json_tag_list %}', function(result){
                if (result['success']) {
                    $("#id_tags").tokenItUp({
                        allowRemoveAll: true,
                        allowAdd: true,
                        loadFromTextField: true,
                        separator: " ",
                        emptyMessage: "(No tag selected yet)",
                        helpText: "Type a tag and press 'Add Tag'.",
                        useAutocomplete: true,
                        addLabel: "Add Tag",
                        removeTooltipText: "Remove Tag",
                        removeAllLabel: "Remove All Tags",
                        autocompleteOptions: {
                            source: result['tags']
                        }
                    });
                }
            });
      });
</script>
