{% spaceless %}{% load thumbnail %}
<div class="image {{ image.css_classes }}">
  {% if image.link_to_original %}
    <a href="{{ image.image.file.url }}">
  {% endif %}
  {# TODO: base thumbnail size on COLUMN_WIDTH variable and position choice #}
  <img src="{% thumbnail image.image.file image.rendersize %}" alt="{{ image.image.alt_text }}" />
  {% if image.link_to_original %}
    </a>
  {% endif %}
  {% if image.caption %}<br /><span class="caption">{{ image.caption }}{% if image.attribution %} <span class="attribution">{{ image.attribution }}</span>{% endif %}</span>{% endif %}
</div>
{% endspaceless %}